<%= header_html %>
<div id="content" >

<% 
    content.each do |post|
      date = post['date']
      payload = post['questions']
      human = post['human']
      hcap = human.capitalize
      title = "Log #{hcap}"
      kristin_banner = "#{ENV['site_url']}/images/log_#{human}/kristin_banner.jpg"
      holt_banner = "#{ENV['site_url']}/images/log_#{human}/holt_banner.jpg"
      #href = "#{ENV['site_url']}/log-#{human}"
      #href = "/log-#{human}"
      href = "log-#{human}"
%>
<article id="post-log-<%= human %>" class="post-5 post type-post status-publish format-standard hentry category-uncategorized" >
    <header>
        <time><%= date %></time>
        <a class="permalink" data-scroll_destination="0" href="<%= href %>" id="clicky_5" data-loaded="true" data-id="5">
            <h1><%= title %></h1>
        </a>
    </header>
    <div class="image loaded" data-src="<%= kristin_banner %>" style="background-image:url('<%= kristin_banner %>');" >
        <img class="image_copyable" style="opacity:0;" src="<%= kristin_banner %>" data-id="1635">
    </div>
    <div class="image loaded" data-src="<%= holt_banner %>" style="background-image:url('<%= holt_banner %>');" >
        <img class="image_copyable" style="opacity:0;" src="<%= holt_banner %>" data-id="1637">
    </div>


	<br style="clear:both;">
	<div class="content">
    	<div class="two_cols">
    		<div class="col first">
      		    <div class="subhead" >
                    <strong><%= title %></strong>
                <% if post['extra'] and post['extra']['kristin'] %>
                    <strong><i><%= post['extra']['kristin'] %></i></strong>
                <% end %>
                </div>
      		    <h2>Kristin</h2>
                <% 
                    payload.each do |question, answers|
                      answer = answers['kristin']
                 %>
             <p><strong><b><%= question %></b><br /></strong><%= answer %></p>
      <% end %>
      </div>
      <div class="col second">
          <div class="subhead">
                <strong><%= title %></strong>
                <% if post['extra'] and post['extra']['holt'] %>
                    <strong><i><%= post['extra']['holt'] %></i></strong>
                <% end %>
          </div>
      		    <h2>Holt</h2>
                <% 
                    payload.each do |question, answers|
                      answer = answers['holt']
                  %>
              <p><strong><b><%= question %></b><br /></strong><%= answer %></p>
      <% end %>
  </div>
  </div>
</div>
	
</article>
<% end %>
    	
<article id="post-day-two" class="post-18 post type-post status-publish format-standard hentry category-uncategorized" >

	<header>
		<time>November 10, 2014</time>
		<a class="permalink" data-scroll_destination="0" href="/day-two" id="clicky_18" data-loaded="true" data-id="18">
  		<h1>Log Two</h1>
		</a>
	</header>

      <div id="cell_1639" class="image loaded" data-src="Content Logs/Kristin/log 2/daytwo-cocks.jpg" style="background-image:url('Content Logs/Kristin/log 2/daytwo-cocks.jpg');" >
      <img class="image_copyable" style="opacity:0;" src="Content Logs/Kristin/log 2/daytwo-cocks.jpg" data-id="1639">
    </div>
      <div id="cell_1638" class="image loaded" data-src="Content Logs/Holt/Log 2/Holt-Log Two Banner.jpg" style="background-image:url('Content Logs/Holt/Log 2/Holt-Log Two Banner.jpg');" >
      <img class="image_copyable" style="opacity:0;" src="Content Logs/Holt/Log 2/Holt-Log Two Banner.jpg" data-id="1638">
      </div>
  	
	<br style="clear:both;">
	<div class="content">
  	  	
      
    	<div class="two_cols">
    		<div class="col first">
      		<div class="subhead" >
        		<a class="illo_credit" href="/day-two" ><strong>Log Two</strong></a>
        		          		&nbsp; / &nbsp; <strong>lettering by </strong>
          		<a href="http://johnpassafiume.com" target="_blank">John Passafiume</a>
          		                  		</div>
      		<h2>Kristin</h2>
      		<p><strong>How did you take your coffee this morning?<br />
</strong>Holt made an aeropress, so a ‘long black’. We sat out on the front balcony and listened to the morning sounds of the neighborhood. As we sipped our coffee, two wild cockatoos landed in a nearby tree. We watched them raise their shockingly yellow headdresses and they then proceeded to pomp and circumstance from branch to branch with their headdresses held proudly. Our nyc pigeons aren't nearly as interesting and the NYC hawks are hard to spot, so that was quite interesting to watch while having brekkie.</p>
<p><strong>What did you do today?<br />
</strong>I walked along the coast Bondi Beach to Bronte Beach.<br />

As I walked along the little path that snaked around cliffs and beaches, art installations would come in and out of focus. Some of the installations tried to change the way the viewer engaged with the coastline, or reframed your point of view. It was an interesting walk.<br />

There’s an amazing looking pool at Bondi Beach called ‘Icebergs.’ I must swim here. It is set into a cliff overlooking the beach and seems to use natural water, or at least, the sea spay comes up and washes into the pool with every roll of the ocean. It looks like heaven.<br />
</p>
<p><strong>Describe an interesting creature or human you saw.<br />
</strong>On my way to Bondi Beach, I popped into a beautiful airy store called <a href="http://girlandgraaf.com.au/"><strong>Girl and Graaf</strong></a>. The owners, Lauren and Simon have curated a wonderfully bright collection of textiles, stationary, and objects that are well crafted and deeply connected to the culture and place in which they are produced. I was drawn to a lovely looking book about produce from New South Wales so I could learn about the foods, purveyors, and restaurants that specialize in procuring and serving local ingredients. <br />

As I made moves to purchase my guide to local food, Lauren struck up a conversation with me (as Australians tend to genuinely want to make small talk) about Holt and my plan to live in AU for a year as well as places we’d like to visit while here. I mentioned I’d love to visit Bali and Lauren offered a bit of advice on places that were ‘nice’ and places that were ‘gross’. She wrote it down on her store’s postcard and offered it to me.<br />
Seminyak – nice<br />
Ubud – nice<br />
Kuta/Legian – gross<br />
Nusa Dua – boring<br />
</p>
<p><strong>Any divine food or beverage experiences? <br />
</strong>I had pour over from Cabrito Coffee Roasters in the Central Business District (CBD), but it wasn’t what I expected. It was light and not nearly as forceful or caffeinated as I expected a pour over to be.  I will be sticking to ordering ‘long blacks’ for my afternoon coffee fix.</p>
<p><strong>Additional comments?<br />
</strong>I must swim in that pool!</p>

    		</div>
    		<div class="col second">
      		<div class="subhead">
        		<a class="illo_credit" href="/day-two" ><strong>Log Two</strong></a>
        		          		&nbsp; / &nbsp; <strong>lettering by </strong>
          		<a href="http://joncontino.com" target="_blank">Jon Contino</a>
          		                  		</div>
      		<h2>Holt</h2>
      		<p><strong>How did you take your coffee this morning?<br />
</strong>I made an aeropress with the Rushcutter’s blend (from Rushcutter’s just up the street).  I then had a long black of allpress espresso that Viktor brought in (not sure from what café), and later met Kristin at Cabrito in the CBD for an afternoon long black.</p>
<p><strong>What did you do today?<br />
</strong>Took the bus to Bree, the Palantir Sydney office!  Small office (4 desks and a small conference room), but central location in the CBD of Sydney with a great view overlooking the opera house, the bay and the royal botanic gardens.  Also over in either Woolloomooloo bay or Elizabeth bay there’s some kind of weird aircraft carrier thingie, which is apparently meant for amphibious troop landings and helicoptors, i.e. it looks like an aircraft carrier but isn’t long enough to be one.</p>
<p><strong>Describe an interesting creature or human you saw.<br />
</strong>I saw several Australian white ibis birds in the park at lunch, and several cockatoos outside of the balcony at the apartment in the morning (both the cockatoos and the ibis seem fairly common, and of course the magpies are as well).
</p>
<p><strong>Any divine food or beverage experiences?<br />
</strong>Coffee is just really good here.  Lunch was also excellent, if a bit larger than we were expecting.  I got one of the Japanese “lunch box” lunches that had excellent tonkatsu, sashimi and miso soup.</p>
<p><strong>Additional comments?<br />
</strong>I got a first-hand experience in how expensive things are here by buying running shoes at a sports store for literally $30 more than they would have been in NY.  I know this, because we looked up the exact shoe online later, so I’m not exaggerating.</p>
<p><a class="lbx" href="http://fortydaysofdating.com/wp-content/uploads/2013/03/Divorce.jpg"><img class="alignnone size-full wp-image-1478" alt="Divorce" src="http://fortydaysofdating.com/wp-content/uploads/2013/03/Divorce.jpg" /></a></p>
        </div>
    	</div>
	
    	
	</div>
	
</article>

	
<article id="post-day-three" class="post-70 post type-post status-publish format-standard hentry category-uncategorized" >

	<header>
		<time>November 11, 2014</time>
		<a class="permalink" data-scroll_destination="0" href="/day-three" id="clicky_70" data-loaded="true" data-id="70">
  		<h1>Log Three</h1>
		</a>
	</header>

      <div id="cell_1640" class="image loaded" data-src="Content Logs/Kristin/Log 3/beautiful banner.jpg" style="background-image:url('Content Logs/Kristin/Log 3/beautiful banner.jpg');" >
      <img class="image_copyable" style="opacity:0;" src="Content Logs/Kristin/Log 3/beautiful banner.jpg" data-id="1640">
    </div>
    
      <div id="cell_1641" class="image loaded" data-src="Content Logs/Holt/Log 3/Holt-Log Three Banner Bird.jpg" style="background-image:url('Content Logs/Holt/Log 3/Holt-Log Three Banner Bird.jpg');" >
        <img class="image_copyable" style="opacity:0;" src="Content Logs/Holt/Log 3/Holt-Log Three Banner Bird.jpg" data-id="1641">
      </div>
  	
	<br style="clear:both;">
	<div class="content">
  	  	
      
    	<div class="two_cols">
    		<div class="col first">
      		<div class="subhead" >
        		<a class="illo_credit" href="/day-three" ><strong>Log Three</strong></a>
        		          		&nbsp; / &nbsp; <strong>typeface by </strong>
          		<a href="https://www.behance.net/gallery/18702361/Azedo-Free-Font" target="_blank">Pedro Azedo</a>
          		                  		</div>
      		<h2>Kristin</h2>
      		<p><strong>Where are you in AU?<br />
</strong>Canberra, the capital of AU. We’re staying at ‘Hotel Hotel’ which is a place for ‘people people.’ It’s a terribly trendy hotel, which I didn’t know would be available to me in Canberra.</p>
<p><strong>What did y’all do together?<br />
</strong>Holt and I took a long bike ride around Lake Burley Griffin. It was a 16km loop around the lake that we did on single speed bikes. <br />

I also took a sketching class of a live nude model at the hotel that was directed by the Nishi Art Gallery. As an architect, you need to be able to communicate your ideas through sketching and that is a skill that I’ve let decline as I’ve relied on the computer to draft. We began doing several 10-minute sketches as the model moved through various poses. We finished the class working on a longer, 45-minute sketch. It was a great challenge and I’m going to make an effort to sketch my year abroad to get better at hand drawing.</p>
<p><a class="lbx" href="http://fortydaysofdating.com/wp-content/uploads/2013/03/ReallyReallyTickets4.jpg"><img class="alignnone size-large wp-image-630" alt="ReallyReallyTickets4" src="http://fortydaysofdating.com/wp-content/uploads/2013/03/ReallyReallyTickets4-700x466.jpg" /></a></p>
<p><strong>Describe an interesting creature or human you saw.<br />
</strong> There is a sort of pigeon-like looking bird that I saw on my bike ride. It has a pink band of feathers around its neck and a grey body. Holt has named it a ‘piggy-poo’. </p>
<p><strong>Any divine food or beverage experiences today? <br />
</strong> I’ve come down with a cold, so although the food looks absolutely stunning, I can’t taste anything and I don't have much of an appetite.</p>
<p><strong>Any thoughts about the Aussie lifestyle you’d like to share?<br />
</strong> Everyone seems quite happy to wait for the crosswalk symbol and sometimes that wait is very long. Yet, they don’t jaywalk. </p>
<p><strong>Additional comments?<br />
</strong>I hate being sick and wish I could happily devour the breakfast pastry setup they display in the lobby. It looks like a pastry carnival. </p>
    		</div>
    		<div class="col second">
      		<div class="subhead">
        		<a class="illo_credit" href="/day-three" ><strong>Log Three</strong></a>
        		          		&nbsp; / &nbsp; <strong>lettering by </strong>
          		<a href="http://sampottsinc.com" target="_blank">Sam Potts</a>
          		                  		</div>
      		<h2>Holt</h2>
      		<p><strong>Where are you in AU?<br />
</strong>Canberra, the capitol.</p>
<p><strong>What did you do today?<br />
</strong>Went to work, borrowed a little single-speed bike from the hotel to both get to and from work on as well as do a 16km ride around the western part of the lake in Canberra.</p>
<p><strong>Describe an interesting creature or human you saw.<br />
</strong>These weird birds that looked like they had pink sweaters around their necks covering the lower par of their mouths.  I guess sorta hipster birds or something.</p>
<p><strong>Any divine food or beverage experiences today?</strong>?<br />
</strong>Mandarin soufflé and chocolate sorbet paired with a Spanish port at the hotel was fantastic.  Also, the coffee so far is good everywhere in Australia.</p>
<p><a class="lbx" href="http://fortydaysofdating.com/wp-content/uploads/2013/03/Texts_Tim_03.22.13.jpg"><img class="alignnone size-large wp-image-300" alt="Texts_Tim_03.22.13" src="http://fortydaysofdating.com/wp-content/uploads/2013/03/Texts_Tim_03.22.13-700x893.jpg" /></a></p>
<p><strong>Any thoughts about the Aussie lifestyle you’d like to share?<br />
</strong>Coffee!  It’s a big part of the culture here and I love it.  Also, at least in Canberra, I’ve noticed that people wait at the lights a lot more than in NYC (both pedestrians and cyclists).</p>
<p><strong>Additional comments?<br />
</strong>No</p>
        </div>
    	</div>
	
    	
	</div>
	
</article>

	
<article id="post-day-four" class="post-76 post type-post status-publish format-standard hentry category-uncategorized" >

	<header>
		<time>November 12, 2014</time>
		<a class="permalink" data-scroll_destination="0" href="/day-four" id="clicky_76" data-loaded="false" data-id="76">
  		<h1>Log Four</h1>
		</a>
	</header>

      <div id="cell_1719" class="image loaded" data-src="http://fortydaysofdating.com/wp-content/uploads/2013/03/HeIsQuirky-Jessica-1080x600.jpg" style="background-image:url('http://fortydaysofdating.com/wp-content/uploads/2013/03/HeIsQuirky-Jessica-1080x600.jpg');" >
      <img class="image_copyable" style="opacity:0;" src="http://fortydaysofdating.com/wp-content/uploads/2013/03/HeIsQuirky-Jessica-1080x600.jpg" data-id="1719">
    </div>
      <div id="cell_1971" class="image loaded" data-src="Content Logs/Holt/Log 4/Holt-Log Four Bannerv2.jpg" style="background-image:url('Content Logs/Holt/Log 4/Holt-Log Four Bannerv2.jpg');" >
      <img class="image_copyable" style="opacity:0;" src="Content Logs/Holt/Log 4/Holt-Log Four Bannerv2.jpg" data-id="1971">
    </div>
  	
	<br style="clear:both;">
	<div class="content">
  	    
    	<div class="two_cols">
    		<div class="col first">
      		<div class="subhead" >
        		<a class="illo_credit" href="/day-four" ><strong>Log Four</strong></a>
        		          		&nbsp; / &nbsp; <strong>Dinner bill holder from</strong>
          		<a href="http://www.hotel-hotel.com.au/eat-and-drink/monster/" target="_blank">Monster Kitchen @ Hotel Hotel</a>
          		                  		</div>
      		<h2>Kristin</h2>
      		<p><strong>What did you do today?<br />
</strong>I went for a swim in the Canberra Olympic Pool. A $5.70 day pass bought me entry and use of the locker room. It was a 50m length pool (I have to make the conversion into metric at some point) and I swam in the ‘medium’ pace lane. <br />

Holt and I also borrowed the hotel single speed bikes again and rode them to the National Portrait Gallery. 
</p>
<p><strong>Describe an interesting creature or human you saw.<br />
</strong>At the ‘In the Flesh’ exhibit at the National Portrait Gallery, artist Sam Jink molds human figures in silicon with unnerving detail. The silicon flesh has the same luminescence as human skin and the artist painstakingly inserts hairs in all the right places, like knuckles and arms, and the one that pops out of a mole. <br />

One of the more striking pieces he created was of a man hanging, obviously he relied on the Christ on a cross reference for the gravitas of that piece, but the way the body sagged with whatever was on that character’s mind was intense. There was also an interesting study of a man and woman, each in the fetal position facing one another, but they each had fox heads instead of human heads. Not sure why, but it made me smile since our dog looks like a fox and I miss our dog terribly. The scale of this study was small and each figure had accurate but tiny little toes. It was somehow sweet to see the fox-couple curled up next to one another. 
</p>
<p><a class="lbx" href="http://fortydaysofdating.com/wp-content/uploads/2013/03/ReallyReallyTickets4.jpg"><img class="alignnone size-large wp-image-630" alt="ReallyReallyTickets4" src="Content Logs/Kristin/Log 4/Unsettled.jpg" /></a></p>
<p><strong>Any divine food or beverage experiences today?<br />
</strong> Monster chocolate chip cookie. Yeah, I did it. It was glorious.</p>
<p><strong>What slang or Australian vocabulary did you hear today?<br />
</strong> I don’t pickup on weird things Aussies say, Holt has to point it out to me. </p>
<p><strong>Additional comments?<br />
</strong>I switched all of my fitness tracking programs over to metric. Pool lengths, and running distances are now all in meters and kilometers. I even went so far to change to Celsius. Total immersion. I’m sticking to Holt’s mantra ’16 is 60’ to learn that 16 degrees Celsius is 60 degrees F.  I hope its about 16 degrees often, otherwise I’ll have no idea what temperature it is.</p>
    		</div>
    		<div class="col second">
      		<div class="subhead">
        		<a class="illo_credit" href="/day-four" ><strong>Log Four</strong></a>
        		          		&nbsp; / &nbsp; <strong>Fleshtypeface by </strong>
          		<a href="https://www.behance.net/gallery/Human-type-for-KEROZEN/11239455" target="_blank">Jean-Charles Debroize for Kerozen</a>
          		                  		</div>
      		<h2>Holt</h2>
      		<p><strong>What did you do today?<br />
</strong>Borrowed the bike again, this time we rode to the National Portrait Gallery.</p>
<p><strong>Describe an interesting creature or human you saw.<br />
</strong>Saw lots of creepily realistic looking art at the gallery.  I guess it was silicon molded to look like humans, but the details were so precise as to the veins in the arms, creases in arms or fingers, and of course the real human hair everywhere it should be.</p>
<p><strong>Any divine food or beverage experiences today?</strong>?<br />
</strong>Not necessarily divine, but for my second coffee of the day, I went to a stand with some coworkers called 2 past 10.  The stand also sold little sandwiches, but as is appropriate for Australia, about 75% of the coffee stand was dedicated to housing the grinder and machine (just the general coffee operation), leaving the remainder as the kitchen for making said sandwiches.  The coffee was great (I had a long black).</p>
<p><strong>What slang or Australian vocabulary did you hear today?<br />
</strong>Bread pudding is apparently called bread & butter pudding here.  Also, not really slang, but I had a trout hash brown at breakfast (called breaky here), and I wasn’t sure what to expect, but it was what it sounds like.  It was a hash brown with bits of trout inside it, and quite tasty.</p>
<p><strong>Additional comments?<br />
</strong>No.</p>
        </div>
    	</div>
	
    	
	</div>
	
</article>

      
</div>

<%= footer_html %>
