<%= header_html %>
<div id="content" >

<% 
    content.reverse.each do |post|
      date = post['date']
      payload = post['questions']
      human = post['human']
      hcap = human.capitalize
      title = "Log #{hcap}"
      kristin_banner = "#{ENV['site_url']}/images/log_#{human}/kristin_banner.jpg"
      holt_banner = "#{ENV['site_url']}/images/log_#{human}/holt_banner.jpg"
      #href = "#{ENV['site_url']}/log-#{human}"
      #href = "log-#{human}"
      href = "/log-#{human}"
%>
<article id="post-log-<%= human %>" class="post-<%= human %> post type-post status-publish format-standard hentry category-uncategorized" >
    <header>
        <time><%= date %></time>
  <% if loc_name == human or ! loc_name %>
        <a class="permalink" data-scroll_destination="0" href="<%= href %>" id="clicky_<%= human %>" data-loaded="true" data-id="<%= human %>">
  <% else %>
        <a class="permalink" data-scroll_destination="0" href="<%= href %>" id="clicky_<%= human %>" data-loaded="false" data-id="<%= human %>">
  <% end %>
            <h1><%= title %></h1>
        </a>
    </header>
    <div class="image loaded" data-src="<%= kristin_banner %>" style="background-image:url('<%= kristin_banner %>');" >
        <img class="image_copyable" style="opacity:0;" src="<%= kristin_banner %>">
    </div>
    <div class="image loaded" data-src="<%= holt_banner %>" style="background-image:url('<%= holt_banner %>');" >
        <img class="image_copyable" style="opacity:0;" src="<%= holt_banner %>">
    </div>


	<br style="clear:both;">
	<div class="content">
<% if loc_name == human or ! loc_name %>
    	<div class="two_cols">
    		<div class="col first">
      		    <div class="subhead" >
                    <strong><%= title %></strong>
                <% if post['extra'] and post['extra']['kristin'] %>
                    <strong><i>(<%= post['extra']['kristin'] %>)</i></strong>
                <% end %>
                </div>
      		    <h2>Kristin</h2>
                <% 
                    payload.each do |question, answers|
                      answer = answers['kristin']
                 %>
             <p><strong><b><%= question %></b><br /></strong><%= answer %></p>
      <% end %>
      </div>
      <div class="col second">
          <div class="subhead">
                <strong><%= title %></strong>
                <% if post['extra'] and post['extra']['holt'] %>
                    <strong><i>(<%= post['extra']['holt'] %>)</i></strong>
                <% end %>
          </div>
      		    <h2>Holt</h2>
                <% 
                    payload.each do |question, answers|
                      answer = answers['holt']
                  %>
              <p><strong><b><%= question %></b><br /></strong><%= answer %></p>
      <% end %>
  </div>
  </div>
<% else %>
      <div class="two_cols"></div>
<% end %>
</div>
	
</article>
<% end %>

<% if loc_name %>
<script type="text/javascript">
  // open requested page
  $(function() {

    $('#clicky_<%= loc_name %>').click();

  });
</script>
<% end %>
    	
<%= footer_html %>
