<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
  <title>A Year in OZ</title>
  <link>http://ayearinoz.holtandkristin.com</link>
  <description>Holt and Kristin agreed to spend A Year in OZ</description>
<% 
    j=0
    max_post = content.count
    while j < 5
      post = content[max_post-j-1]
      human = post['human']
      title = "A Year in OZ - Log #{human}"
      desc = post['desc']
      date = post['date']
      kristin_banner = "#{ENV['site_url']}/images/log_#{human}/kristin_banner.jpg"
      holt_banner = "#{ENV['site_url']}/images/log_#{human}/holt_banner.jpg"
      href = "log-#{human}"
      j=j+1
%>
  <item>
    <title><%= title %></title>
    <link><%= ENV['site_url'] %>/<%= href %></link>
    <description><img src="<%= kristin_banner %>" /><img src="<%= holt_banner %>" /><%= desc %></description>
  </item>
<% end %>
</channel>
</rss>
